body {
    background-image: url("gifs/Twinkling_Stars.gif");
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

header {
    color: #645CAA;
    border-style: solid;
    margin: 2%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style-position: outside;
    list-style: disc;
}

li {
    padding-bottom: 5px;
}

.wrapper {
    display: grid;
    grid-template-areas:
    'links about-me webring'
    'links pronouns webring'
    'links donations webring'
    'footer footer footer';
  }

.navbar {
    color: #A084CA;
    border-style: solid;
    margin: 5%;
    padding: 2%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #BFACE0;
    grid-area: navbar;
    
}

.links {
    color: #BFACE0;
    border-color: #ffb2ff;
    border-style: solid;
    margin: 10%;
    padding: 2%;
    grid-area: links;
    
}

.webring {
    color: #BFACE0;
    border-color: #ffb2ff;
    border-style: solid;
    margin-left: 10%;
    padding: 2%;
    grid-area: webring;
    
}

.about-me {
    color: #A084CA;
    border-style: solid;
    margin-right: 5%;
    padding: 2%;
    grid-area: about-me;
    
}

.pronouns {
    color: #BFACE0;
    border-color: #ffb2ff;
    border-style: solid;
    margin: 5%;
    padding: 2%;
    grid-area: pronouns;
}

.donations {
    color: #BFACE0;
    border-color: #ffb2ff;
    border-style: solid;
    margin: 5%;
    padding: 2%;
    grid-area: donations;
}

.title-image {
    max-width: 200px;
    max-height: 200px;
}





a {
    color: #EBC7E8;
}

footer {
    grid-area: footer;
}